<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main"/>
<meta name="kgl:media_count" content="1"/>
<meta name="kgl:text_count" content="2" />
<title>One-Picture Template</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css" media="screen">
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
h1 {
    font-family: 'cwTeXHei', serif;
    font-size: 26px;
}
p {
    font-family: 'cwTeXFangSong', serif;
    font-size: 18px;
}
img {
    border-radius: 5px;
}
</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="picture-segment img-responsive" data-index="0" src="/images/empty.png" alt="picture" />
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1 class="crop-title">這是標題</h1>
            </div>
            <p class="text-segment" data-index="0">這是內文。</p>
            <p class="text-segment" data-index="1">這是第二段內文。</p>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>