<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main"/>
<meta name="kgl:media_count" content="3"/>
<meta name="kgl:text_count" content="2" />
<title>Three-Picture Template</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css" media="screen">
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
h1 {
    font-family: 'cwTeXHei', serif;
    font-size: 26px;
}
p {
    font-family: 'cwTeXFangSong', serif;
    font-size: 18px;
}
.autofit-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.picture-segment {
    display: none;
}
</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img class="picture-segment img-responsive" data-index="0" data-ratio="4:3" src="/images/empty.png" alt="picture" />
        </div>
        <div class="col-sm-4">
            <img class="picture-segment img-responsive" data-index="1" data-ratio="4:3" src="/images/empty.png" alt="picture" />
        </div>
        <div class="col-sm-4">
            <img class="picture-segment img-responsive" data-index="2" data-ratio="4:3" src="/images/empty.png" alt="picture" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1 class="crop-title">這是標題</h1>
            </div>
            <p class="text-segment" data-index="0">這是內文。</p>
            <p class="text-segment" data-index="1">這是第二段內文。</p>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.picture-segment').each(function() {
            var ratio = $(this).data('ratio').split(':');
            var elm = $('<div class="autofit-image"></div>')
                    .data('ratio', ratio)
                    .css('background-image', 'url('+$(this).attr('src')+')')
                    .appendTo($(this).parent());
            elm.css('height', elm.width()/ratio[0]*ratio[1]);
            $(this).remove();
        });
        $(window).resize(function() {
            $('.autofit-image').each(function() {
                var ratio = $(this).data('ratio').split(':');
                $(this).css('height', $(this).width()/ratio[0]*ratio[1]);
            });
        });
    });
</script>
</body>
</html>