.koobe-btn {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 1px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	
	color: #FFFFFF;
	background-color: #94E6DA;
	border-color: #94E6DA;
}

.koobe-btn-inverse {
	color: #FFFFFF;
	background-color: #67A89F;
	border-color: #67A89F;
}

.menu-blank {
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	
	color: #FFFFFF;
	background-color: #94E6DA;
	border-color: #94E6DA;
}