/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* require main
* require mobile
*= require bootstrap
*= require_self
*= require application_menu
*/

* {
	font-family: "微軟正黑體","Helvetica Neue",Helvetica,"Heiti TC","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
}

body {
    /*padding-top: 50px;
    margin: auto;
	max-width: 1200px;*/
}

.nopadding {
   padding: 5px !important;
   margin: 0 !important;
}

#testdiv {
	background: rgba(0,0,0,0.5);
	width: auto;
	height: auto;
	padding: 5px;
	position: fixed;
	top: 0px;
	left: 0px;
	color: #fff;
	z-index: 999;
}

.div-iframe {
	z-index: 9998;
}

.back-btn-pos {
	position: fixed;
	left: 2px;
	bottom: 2px;
	z-index: 9999;
}

.top-btn-pos {
	position: fixed;
	right: 2px;
	bottom: 2px;
	z-index: 999;
	
	opacity: 0.6;
}

p {
	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
}

.content-title {
	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
}