/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* require main
* require mobile
*= require bootstrap
*= require custom
*= require_self
*/

body {
    /*padding-top: 50px;*/
}

.nopadding {
   padding: 5px !important;
   margin: 0 !important;
}

#testdiv {
	background: rgba(0,0,0,0.5);
	width: auto;
	height: auto;
	padding: 5px;
	position: fixed;
	top: 0px;
	left: 0px;
	color: #fff;
	z-index: 999;
}