.ontop_category_table {
  display: table;
  margin-bottom: -5px; }
  .ontop_category_table div {
    display: table-cell;
    vertical-align: bottom; }

.ontop_category_item_panel {
  display: inline-block;
  height: 1px; }

.ontop_category_btn {
  padding-left: 3px; }
  .ontop_category_btn .btn-opensidemenu {
    width: 18px;
    padding-bottom: 1px; }

.ontop-category-item {
  text-transform: uppercase;
  border-left: 1px solid #999;
  cursor: pointer; }
  .ontop-category-item a {
    display: inline-block;
    padding-right: 13px;
    padding-left: 13px;
    color: #333;
    text-decoration: none; }
  .ontop-category-item a:hover {
    color: #BBB; }

.ontop-category-item:hover a {
  color: #BBB; }

@media screen and (min-width: 769px) {
  .ontop-category-item {
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600; }

  .ontop-category-item:first-child {
    border-left: 1px solid #fff; }

  .ontop-category-item:first-child a {
    padding-left: 20px; }

  a.active {
    /*font-size: 1.2em !important;*/
    /*text-decoration: underline !important;*/
    color: #94E6DA !important;
    /*font-weight: 700 !important;*/ } }
@media screen and (max-width: 768px) {
  .ontop-category-item {
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600; }

  .ontop-category-item:first-child {
    border-left: 1px solid #fff;
    padding-left: 10px; }

  .ontop-category-item:first-child a {
    padding-left: 0px; }

  a.active {
    /*font-size: 1.1em !important;*/
    /*text-decoration: underline !important;*/
    color: #94E6DA !important;
    /*font-weight: 700 !important;*/ } }
