.content-editing-title {
	padding: 4px;
	text-align: center;
	background-color: #F8F8F8;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: x-large;
	font-weight: bold;
}

.content-editing-textarea {
	width: 100%;
	height: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: auto;
}

.content-editing-textarea:empty:not(:focus):before{
	content: attr(placeholder);
	color: #888;
}

.content-editing-picture {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: table;
	border-spacing: 5px;
}

.picture-cell {
	display: table-cell; 
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.picture-add {
	display: table-cell;
	width: 70px;
	height: 70px;
	border: 1px solid #ccc;
	border-radius: 5px;
	
	vertical-align: middle;
	text-align:center;
	cursor: pointer;
	background-color: #ECEFF5;
	
	box-shadow: 0 1px 2px 1px #ccc;
}

.picture-onupload {
	display: table-cell;
	width: 70px;
	height: 70px;
	border: 1px solid #ccc;
	border-radius: 5px;
	vertical-align: middle;
	text-align:center;
	
	background-image:url(/assets/spinner.gif);
	background-repeat: no-repeat;
	background-position: center;
	
	box-shadow: 0 1px 2px 1px #ccc;
}

.picture-block {
	display: table-cell;
	width: 70px;
	height: 70px;
	cursor: pointer;
	border-radius: 5px;
	/* background-image:url(http://s3.e7read.com.s3.amazonaws.com/development/2/a111ff65-34c0-478e-9dd7-5eff41bcf288/32470.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	
	box-shadow: 0 1px 2px 1px #ccc;
}

.button-block {
	width: 100%;
	height: auto;
	display: table;
	border-spacing: 5px;
}

.button-ele {
	display: table-cell;
}