.div-iframe {
	z-index: 9998;
}

.contentback {
	display: table;
	text-align: center;
	vertical-align: middle;
	
	cursor:pointer;
	
	position: fixed;
	left: 2px;
	bottom: 2px;
	
	padding-right: 3px;
	padding-top: 3px;
	
	width: 45px;
	height: 45px;
	
	border-radius: 5px;
	background-color: #45CFCF;
	opacity: 0.7;
	z-index: 9999;

    text-shadow: 1px 1px 1px #333;
	

	div {
		display:table-cell;
		vertical-align:middle;
		
		span {
			opacity: 1;
			font-size: 1cm;
			color: #D8F3F3;
		}
	}
}

.contentback:hover {
  opacity: 1;
}