.testborder {
  border: 1px solid #ccc;
}

.logofont {
  margin-top: 10px;
  /* margin-left:20px; */
  /* margin-right:20px; */
  margin-bottom: 20px;
  font-family: Broadway;
  font-size: 1cm;
}

.logofont .glyphicon, .logofont .logo-text {
  color: midnightblue;
}

.submenu {
  margin-top: 10px;
  margin-bottom: 45px;
}