html, body {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 0px;
	padding-bottom: 30px;
}

h1 {
    font-weight: 700;
   	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}
 
p {
    font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 160%;
    letter-spacing: 1px;
    text-align: justify;
}

.template-container {
    margin: auto;
    width: 100%;
    max-width: 920px;
}

.content-author {
	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.border-btm {
	border-bottom: 1px solid #94E6DA;
}

.main-gallery {
    display: table;
    border-spacing: 20px 0px;
    
    width:100%;
    max-width: 900px;
    min-height: 300px;
    max-height: 500px;
}

.table-row {
    display: table-row;
}

.table-col {
    display: table-cell;
    height:100%;
    width: 33%;
    border-radius: 5px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
    box-shadow: 0 1px 2px 1px #ccc;
}
 
 .pictures-table {
 	display: table;
	
	width: 100%;
	border-spacing: 20px 0px;
	
	min-height: 400px;
    max-height: 500px;
}

.picture-item {
	display: table-cell;
	width: 50%;
	border-radius: 5px;
	background-position: center; background-repeat: no-repeat; background-size: cover;
	margin-top: 50px;
}
	
.picture-vertical {
	display: table-cell;
}

.pic-sub-table {
	width: 100%;
	min-height: 400px;
    max-height: 500px;
    
    border-spacing: 0px 20px;
}

.pic-row {
	display: table-row;
}

.picture-native {
	/* position: relative;
	top: -20px;
	left: 0px;
	border-radius: 5px; */
	border-radius: 5px;
	display: table-cell;
	background-position: center; background-repeat: no-repeat; background-size: cover;
}

.margin-blank {
	height: 20px;
}

.padding-lr {
	padding-left: 20px;
	padding-right: 20px;
}

.margin-lr-20 {
	margin-left: 20px;
	margin-right: 20px;
}