html, body {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 0px;
	padding-bottom: 30px;

    word-break: break-all;
}

.e7read-logo {
    width: 130px;
    position: fixed;
    top: 25px;
    right: 15px;
    opacity: .7;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .e7read-logo {
        width: 77px;
    }
}

.e7read-logo:hover {
    opacity: 1;
}

.social-toolbar a {
    text-decoration: none;
    margin-left: 10px;
}

.text-container a {
    color: #888888;
    font-size: .75em;
}

ul.content-categories {
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

ul.content-categories li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 100%;
    float: left;
}

ul.content-categories li a.content-category {
    background-color: #94E6DA;
    color: #FFFFFF;
    font-size: 60%;
    /*padding: 5px 10px;*/
    padding: 3px 4px 2px 4px;
    letter-spacing: 1px;
    margin-right: 5px;
    border-radius: .25em;
    /*text-shadow: 1px 1px 1px #AAAAAA;*/
    display: inline-block;
}

ul.content-categories li a.content-category:hover {
    text-decoration: none;
    background-color: #888888;
    /*text-shadow: 1px 1px 1px #333333;*/
}

ul.content-categories li .category-name {
    text-transform: uppercase;
}



h1 {
    font-weight: 700;
   	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}
 
p, li {
    font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 160%;
    letter-spacing: 1px;
    text-align: justify;
}

.template-container {
    margin: auto;
    width: 100%;
    max-width: 920px;
    
    padding-bottom: 50px;
}

.content-author {
	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.border-btm {
	border-bottom: 1px solid #94E6DA;
}

.main-gallery {
    display: table;
    border-spacing: 20px 0px;
    
    width:100%;
    max-width: 900px;
    min-height: 300px;
    max-height: 500px;
}

.table-row {
    display: table-row;
}

.table-col {
    display: table-cell;
    height:100%;
    width: 33%;
    border-radius: 5px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
    box-shadow: 0 1px 2px 1px #ccc;
}

.picture-native {
	border-radius: 6px;
	width: 100%;
	height: 100%;
	background-position: center; background-repeat: no-repeat; background-size: cover;
}

.picture-rtable {
	width: 100%; 
	height: 450px;
	border: 20px solid #FFF;
}

tr, td {
	border: 10px solid #FFF;
}

.margin-blank {
    clear: both;
	height: 20px;
}

.padding-lr {
	padding-left: 20px;
	padding-right: 20px;
}

.margin-lr-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.vcard-container {
	display: table;
	
	width: 100%;
}


.vcard-cell-body {
	display: table-cell;
}



.content-contact ul, .content-contact li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.content-contact {
	margin: 15px;
	padding: 10px 30px;
	float: right;
	display: inline-block;
	background-color: #94E6DA;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #aaa;
}
.content-contact .basic {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.content-contact .basic li {
	text-align: center;
}
.content-contact .advanced {
	display: inline-block;
}