.paragraphview {
	font-family: "Helvetica Neue",Helvetica,"Heiti TC","微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 160%;
    letter-spacing: 1px;
    text-align: justify;
}

img {
	max-width: 100%;
}