<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main"/>
<meta name="kgl:media_count" content="0"/>
<meta name="kgl:text_count" content="1" />
<title>Default Template</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h1 class="crop-title">這是標題</h1>
        <p class="text-segment" data-index="0">這是內文。</p>
        <p class="text-segment" data-index="1">這是第二段內文。</p>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>